footer {
	transition: all 0.7s ease-in-out;
	background: var(--footer) !important;
}
.timetable-hour {
	height: 100px;
}
.hoverable-card {
	display: none;
	position: absolute;
	min-width: 200px;
	right: 25px;
	z-index: 80;
}
.hoverable-card-trigger:hover .hoverable-card {
	display: block;
}
.hoverable-card-trigger {
	position: relative;
}